
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Error | 404</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="~/errorpage2/css/style.css" type="text/css" media="all" />

</head>

<body>
    <div class="w3l-loginblock signinform">
        <section class="w3l-errorblock text-center">
            <div class="container">
                <div class="main-cover w3">
                    <h4 class="cover-para w3ls">404</h4>
                    <h5 class="error">Üzgünüz, Aradığınız sayfayı bulamadınız mı?</h5>
                    <p class="">
                        Ana sayfaya dönmek için aşağıdaki butona tıklayınız.
                    </p>
                    <a href="/Ana/Index/" class="btn back-button"> <span class="fa fa-arrow-left mr-2"></span> Ana Sayfa</a>
                </div>
            </div>
        </section>
    </div>

    <!-- fontawesome v5-->
    <script src="~/errorpage2/js/fontawesome.js"></script>

</body>

</html>
