
@model EntityLayer.Concrete.Subscribe

<section class="call-to-action bg-gray section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title">
                    <h2>SUBSCRIBE TO NEWSLETTER</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, <br> facilis numquam impedit ut sequi. Minus facilis vitae excepturi sit laboriosam.</p>
                </div>
                <div class="col-lg-6 col-md-offset-3">
                    <form method="post" class="d-flex">
                        <div class="input-group subscription-form">
                            <input type="text" class="form-control" name="Email" placeholder="Mail Adresinizi Giriniz" required="">
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-main" value="Abone Ol" />
                            </span>
                        </div>
                    </form>
                </div><!-- /.col-lg-6 -->

            </div>
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>

